@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

$primary-color: #9b9b9b;
$secondary-color: rgba(74, 74, 74, 0.6);
$accent-color: rgba(255, 0, 0, 0.6);
$bg-color: black;
$fg-color: white;
$code-font: consolas;

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
        Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: $bg-color;
    color: $fg-color;
    height: 100vh;
    margin: 0;
    a {
        color: $fg-color;
        text-decoration: none;
    }
}

#app {
    display: flex;
    flex-direction: column;
}

.header_section {
    border-bottom: 1px solid $secondary-color;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 70vw;

    .logo {
        font-size: 1.5rem;
        text-decoration: none;
    }

    .nav {
        color: $primary-color;
        text-decoration: none;
    }
}

.center_text {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        color: $fg-color;
    }
}

.built_by {
    font-size: 0.8rem;
    padding: 2px 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: $accent-color;
}

.cta {
    width: 70vw;
    font-size: 1.8rem;
    font-weight: bolder;

    .cta_logo {
        color: $primary-color;
    }

    .svg_cta {
        margin-left: 20%;
    }
}

.workspace_section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workspace {
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    .left {
        height: 100%;
        flex: 1;
        min-width: 340px;
        padding: 20px 10px;
    }
}
.right {
    height: 100%;
    flex: 1;
    min-width: 340px;
    display: flex;
    flex-direction: column;
}

.service_account_input {
    height: 100%;
    width: 100%;
    background-color: rgba(15, 23, 42, 0.7);
    border: 0 solid #e5e7eb;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset,
        rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;

    .service_account_input_text {
        width: 100%;
        height: 95%;
        background-color: rgba(15, 23, 42, 0.7);
        color: $accent-color;
        font-family: $code-font;
        resize: none;
        outline: none;
        border-radius: 0.75rem;
    }
}

.token_output_code {
    height: 100%;
    color: crimson;
    width: 100%;
    font-family: $code-font;
    background-color: #0f172ab3;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-wrap: break-word;
    padding-bottom: 40px;
    overflow-y: scroll;
}

.header_box {
    background: #334155;
    min-width: 350px;
    height: 25px;
    border-radius: 0.5rem;
}

.scope_input_text {
    width: 100%;
    height: 100%;
    background-color: #0d1117;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    resize: none;
    outline: none;
}

.select_scope {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: -10px;
}

.css-1ivsm2o-control {
    border-radius: 3px !important;
    border-width: 0 !important;
}

.css-13qatl9-multiValue {
    background-color: #334155 !important;
}

.input_container {
    flex: 1;

    &.top {
        padding-top: 2px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}
.bottom {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.token_output,
.scope_input {
    background-color: #0d1117;
    height: 100%;
    width: 100%;
    color: white;
    border: 0 solid #e5e7eb;
    overflow: hidden;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset,
        rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

.token_btn {
    background-color: rgba(255, 0, 0, 0.6);
    margin-right: 10px;
    padding: 8px 16px;
    color: white;
    font-size: 18px;
    cursor: pointer;

    width: fit-content;
    text-decoration: none;
    right: 10px;

    outline: none !important;

    border-radius: 6px;
}
.copy_to_clipboard {
    float: right;
    margin-top: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.token_output_heading {
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    flex: 50%;
}

.scope_heading {
    color: white;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 2px;
}

.token_header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service_account_heading {
    color: white;
}

.scope_name a {
    padding-top: 10px;
    margin: 48px 0 24px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;

    &:hover {
        color: rgb(148, 163, 184);
    }
}

.scopes_table {
    width: 100%;
}

.scopes_section {
    margin: 16px;
}

table.scopes_table td,
table.scopes_table th {
    min-width: 214px;
}

.scopes_page_title {
    margin-left: 40%;
    font-size: x-large;
    padding-top: 15px;
    font-weight: 700;
    color:  #9EA1BD;
}

th {
    background: #334155;
    padding: 8px;
    text-align: left;
}

tr {
    background: #1e293b;
    border: 0;
    border-bottom: 1px solid #dadce0;
}

td {
    padding: 7px 8px 8px;
}

.docs_body {
    display: flex;
    align-items: center;
}

.docs_section {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.side_nav {
    bottom: 0;
    top: 0;
    z-index: 1;
}

.scopes,
.overview {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav_section {
    top: 156px;
    width: 269px;
    height: 100%;
    border-right: 1px solid #4a4a4a99;
}

.nav_content {
    padding-top: 15px;
    line-height: 3;
    font-size: larger;
    padding-left: 15px;
}

.nav_item:hover {
    color: rgb(148, 163, 184);
}

#menu-portal {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
}

.css-1mbxqx5-MultiValueRemove:hover {
    color: #334155 !important;
    background-color: #1e293b !important;
}

ul {
    list-style: disc;
}

.overview_content {
    padding-bottom: 25px;
    padding-left: 26px;
    line-height: 21px;
    font-size: 16px;
    padding-top: 20px;
}

.overview_link {
    color: #abaec7;
}

.overview_list {
    padding-left: 25px;
}

.step {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #abaec7;
}
